<div class="w-100 footer__bg py-4">
    <div class="container">
        <div>
            Recipe
        </div>
        <div class="d-flex my-3">
            <div style="width: 400px;">
                <div 
                    class="my-3 cursor__pointer" 
                    style="font-weight: 700;font-size: 15px;"
                >
                    DINNERS
                </div>
                <div 
                    class="my-3 cursor__pointer" 
                    style="font-weight: 700;font-size: 15px;"
                >
                    MEALS
                </div>
                <div 
                    class="my-3 cursor__pointer" 
                    style="font-weight: 700;font-size: 15px;"
                >
                    INGREDIENTS
                </div>
                <div 
                    class="my-3 cursor__pointer" 
                    style="font-weight: 700;font-size: 15px;"
                >
                    OCCASIONS
                </div>
                <div 
                    class="my-3 cursor__pointer" 
                    style="font-weight: 700;font-size: 15px;"
                >
                    CUISINES
                </div>
                <div 
                    class="my-3 cursor__pointer" 
                    style="font-weight: 700;font-size: 15px;"
                >
                    KITCHEN TIPS
                </div>
                <div 
                    class="my-3 cursor__pointer" 
                    style="font-weight: 700;font-size: 15px;"
                >
                    NEWS
                </div>
                <div 
                    class="my-3 cursor__pointer" 
                    style="font-weight: 700;font-size: 15px;"
                >
                    FEATURES
                </div>
            </div>
            <div class="mx-4">
                <div 
                    class="my-3 cursor__pointer" 
                    style="font-size: 15px;"
                >
                    Abouts Us
                </div>
                <div 
                    class="my-3 cursor__pointer" 
                    style="font-size: 15px;"
                >
                    Content Licensing
                </div>
                <div 
                    class="my-3 cursor__pointer" 
                    style="font-size: 15px;"
                >
                    Anti-Racism Pledge
                </div>
                <div 
                    class="my-3 cursor__pointer" 
                    style="font-size: 15px;"
                >
                    Privacy Policy
                </div>
                <div 
                    class="my-3 cursor__pointer" 
                    style="font-size: 15px;"
                >
                    Product Vetting
                </div>
                <div 
                    class="my-3 cursor__pointer" 
                    style="font-size: 15px;"
                >
                    Contact
                </div>
            </div>
        </div>
        <div class="my-3">
            <div class="my-3" style="font-size: 13px;">
                Follow Us
            </div>
            <div class="d-flex">
                <div class="mx-2" style="color:#858d94;">
                    <i class="bi bi-facebook" style="font-size: 20px;"></i>
                </div>
                <div class="mx-2" style="color:#858d94;">
                    <i class="bi bi-instagram" style="font-size: 20px;"></i>
                </div>
                <div class="mx-2" style="color:#858d94;">
                    <i class="bi bi-pinterest" style="font-size: 20px;"></i>
                </div>
                <div class="mx-2" style="color:#858d94;">
                    <i class="bi bi-tiktok" style="font-size: 20px;"></i>
                </div>
                <div class="mx-2" style="color:#858d94;">
                    <i class="bi bi-youtube" style="font-size: 20px;"></i>
                </div>
                <div class="mx-2" style="color:#858d94;">
                    <i class="bi bi-twitter" style="font-size: 20px;"></i>
                </div>
            </div>
        </div>
    </div>
</div>
