.nav__box{
    box-shadow: 1px 7px 4px rgb(64 60 67 / 25%);
}

.nav__logo__wrapper{
    height: 40px;
}

.nav__logo{
    height: 20px;
}

.nav__icon{
    font-size: 25px;
}

.nav__hint{
    width: 18px;
    height: 18px;
    right: 0;
    bottom: 0;
    font-size: 12px;
}

.nav__logo{
    color: tomato;
}