.img__wrapper{
    width: 800px;
    height: 400px;
    object-fit: none;
}

.img__bg{
    background: #858d94;
}

.carousel__icon{

}

.ranking__img{
    width: 70%;
    aspect-ratio : 1 / 1;
    object-fit: cover;
}